# Database
DATABASE_URL="postgresql://username:password@localhost:5432/questify?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"

# OAuth Providers (可选)
# GITHUB_ID="your-github-oauth-app-id"
# GITHUB_SECRET="your-github-oauth-app-secret"
# GOOGLE_ID="your-google-oauth-client-id"
# GOOGLE_SECRET="your-google-oauth-client-secret"
